<h1>Here are all of the registered users </h1>

<%= paginate @users %>

<table>
  <tr>
    <td>User Name</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to "#{user.full_name}", admin_user_path(user) %></td>
      <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
      <td><%= link_to "Delete", admin_user_path(user), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
